In [1]:
import psycopg2
from psycopg2 import Error

try:
    # Подключиться к существующей базе данных
    connection = psycopg2.connect(user="azonchic",
                                  # пароль, который указали при установке PostgreSQL
                                  password="rgdbaza",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="rgd")

    # Создайте курсор для выполнения операций с базой данных
    cursor = connection.cursor()
    # SQL-запрос для создания новой таблицы
    create_table_query = '''
    drop table if exists Passenger cascade;
CREATE TABLE Passenger
(id SERIAL PRIMARY KEY,
 name varchar(50) NOT NULL,
 surname varchar(50) NOT NULL,
 passport varchar(11) NOT  NULL,
 phone_number varchar(12),
 password varchar(50) NOT NULL,
 fees boolean,
 born_date date NOT NULL,
 email varchar(50),
 gender varchar(1) NOT NULL,
 login varchar(30) NOT NULL
);

drop table if exists Train cascade;
create table Train
(
id Serial primary key,
train_number varchar(50) NOT NULL,
train_type varchar(50) NOT NULL,
loc_model varchar(50) NOT NULL
);

drop table if exists Flight cascade;
create table Flight
(
id Serial primary key,
flnumber int NOT NULL,
driver varchar(30) NOT NULL,
total_stop int NOT NULL,
train_id int NOT NULL,
foreign key (train_id) references Train (id)
);

drop table if exists Station cascade;
create table Station
(
id Serial primary key,
stname varchar(50) NOT NULL,
city varchar(50) NOT NULL,
way int NOT NULL,
country varchar(20) NOT NULL,
phone varchar(12) NOT NULL,
director varchar(50) NOT NULL,
timezone varchar(10) NOT NULL
);

drop table if exists Van cascade;
create table Van
(
id Serial primary key,
van_type varchar(20) NOT NULL,
issue_year date NOT NULL,
vannumber int NOT NULL,
intrain boolean NOT NULL,
train_id int NOT NULL,
foreign key (train_id) references Train (id)
);

drop table if exists Place cascade;
create table Place
(
id serial primary key,
place_type varchar(10) NOT NULL,
underwear boolean NOT NULL,
place_number int NOT NULL,
van_id int NOT NULL,
foreign key (van_id) references Van (id)
);

drop table if exists Ticket cascade;
create table Ticket
(
id SERIAL PRIMARY KEY,
place INT NOT NULL,
van INT NOT NULL,
price int NOT NULL,
place_type varchar(10) NOT NULL,
arrive_date timestamp NOT NULL,
passenger_id int NOT NULL,
flight_id int NOT NULL,
departure_id int NOT NULL,
arrive_id int NOT NULL,
place_id int NOT NULL,
dep_date timestamp NOT NULL,
foreign key (passenger_id) references Passenger (id),
foreign key (flight_id) references Flight (id),
foreign key (departure_id) references Station (id),
foreign key (arrive_id) references Station (id),
foreign key (place_id) references Place (id) 
);

drop table if exists Stop cascade;
create table Stop
(
id Serial primary key,
stnumber int NOT NULL,
waytime interval NOT NULL,
stoptime time NOT NULL,
flight_id int NOT NULL,
waynumber int NOT NULL,
station_id int NOT NULL,
dep_date timestamp NOT NULL,
arrive_date timestamp NOT NULL,
foreign key (flight_id) references Flight (id),
foreign key (station_id) references Station (id)
)
    '''
    # Выполнение команды: это создает новую таблицу
    cursor.execute(create_table_query)
    connection.commit()
    print("Таблица успешно создана в PostgreSQL")

except (Exception, Error) as error:
    print("Ошибка при работе с PostgreSQL", error)
finally:
    if connection:
        cursor.close()
        connection.close()
        print("Соединение с PostgreSQL закрыто")

Таблица успешно создана в PostgreSQL
Соединение с PostgreSQL закрыто